
@mixin box-shadow-default() {
    box-shadow: 0 2px 4px rgba($brand-black, 0.16), 0 2px 4px rgba($brand-black, 0.24);
}


@mixin button-variant($bg-color, $hover-bg-color: darken($bg-color, 10%), $color: $brand-white) {
    color: $color;
    background-color: $bg-color;

    &:hover,
    &:active {
        background-color: darken($bg-color, 10%);
    }
}

// mixin to create media queries on the fly!
@mixin for-screen($breakpoint) {
    @if $breakpoint == 'mobile' {
        @media (max-width: $mobile) {
            @content;
        }
    }
    @else if $breakpoint == 'tablet' {
        @media (max-width: $tablet) {
            @content;
        }
    }
    @else if $breakpoint == 'desktop' {
        @media (min-width: $desktop) {
            @content;
        }
    }
    @else if $breakpoint == 'super-desktop' {
        @media (min-width: $super-desktop) {
            @content;
        }
    }
}