* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #333333; }

.bg-black {
  background-color: #333333; }

.bg-blue {
  background-color: #00ACF1; }

.badge {
  min-width: 2rem;
  min-height: 1rem;
  height: auto;
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem; }
  .badge.blue {
    background-color: #00ACF1; }

.column-header-circle {
  border: 1px solid #787878;
  border-radius: 50%; }

.hourglass-container {
  padding: 0 !important; }
  .hourglass-container .hourglass {
    background-color: #EDB600;
    display: none;
    width: 100%;
    height: 100%; }
    .hourglass-container .hourglass .fa-hourglass-end {
      color: #F8F8F8; }
    .hourglass-container .hourglass.visible {
      display: block; }

.button {
  min-width: 4rem;
  min-height: 1.5rem;
  border: 0;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 4px rgba(51, 51, 51, 0.16), 0 2px 4px rgba(51, 51, 51, 0.24);
          box-shadow: 0 2px 4px rgba(51, 51, 51, 0.16), 0 2px 4px rgba(51, 51, 51, 0.24);
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  cursor: pointer; }
  .button.blue {
    color: #F8F8F8;
    background-color: #00ACF1; }
    .button.blue:hover, .button.blue:active {
      background-color: #0088be; }

.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 15px; }
  .checkbox-container:hover input ~ .checkmark {
    background-color: #EAEAEA; }
  .checkbox-container input:checked ~ .checkmark {
    background-color: #00ACF1; }
    .checkbox-container input:checked ~ .checkmark:after {
      display: block; }
  .checkbox-container input {
    position: relative;
    opacity: 0;
    cursor: pointer; }
  .checkbox-container .checkmark {
    border: 1px solid #EAEAEA;
    position: absolute;
    top: -5px;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%; }
    .checkbox-container .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 6px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr); }
  .grid-container.no-gutter {
    grid-gap: 0; }

.row {
  position: relative;
  padding: 1.5rem;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content; }

.col-span-1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1; }
  @media (max-width: 425px) {
    .col-span-1 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-1.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-1.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-1.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-1.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-1.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-1.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-2 {
  -ms-grid-column-span: 2;
  grid-column-end: span 2; }
  @media (max-width: 425px) {
    .col-span-2 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-2.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-2.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-2.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-2.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-2.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-2.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-3 {
  -ms-grid-column-span: 3;
  grid-column-end: span 3; }
  @media (max-width: 425px) {
    .col-span-3 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-3.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-3.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-3.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-3.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-3.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-3.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-4 {
  -ms-grid-column-span: 4;
  grid-column-end: span 4; }
  @media (max-width: 425px) {
    .col-span-4 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-4.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-4.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-4.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-4.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-4.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-4.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-5 {
  -ms-grid-column-span: 5;
  grid-column-end: span 5; }
  @media (max-width: 425px) {
    .col-span-5 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-5.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-5.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-5.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-5.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-5.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-5.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-6 {
  -ms-grid-column-span: 6;
  grid-column-end: span 6; }
  @media (max-width: 425px) {
    .col-span-6 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-6.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-6.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-6.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-6.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-6.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-6.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-7 {
  -ms-grid-column-span: 7;
  grid-column-end: span 7; }
  @media (max-width: 425px) {
    .col-span-7 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-7.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-7.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-7.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-7.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-7.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-7.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-8 {
  -ms-grid-column-span: 8;
  grid-column-end: span 8; }
  @media (max-width: 425px) {
    .col-span-8 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-8.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-8.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-8.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-8.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-8.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-8.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-9 {
  -ms-grid-column-span: 9;
  grid-column-end: span 9; }
  @media (max-width: 425px) {
    .col-span-9 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-9.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-9.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-9.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-9.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-9.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-9.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-10 {
  -ms-grid-column-span: 10;
  grid-column-end: span 10; }
  @media (max-width: 425px) {
    .col-span-10 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-10.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-10.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-10.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-10.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-10.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-10.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-11 {
  -ms-grid-column-span: 11;
  grid-column-end: span 11; }
  @media (max-width: 425px) {
    .col-span-11 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-11.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-11.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-11.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-11.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-11.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-11.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.col-span-12 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12; }
  @media (max-width: 425px) {
    .col-span-12 {
      margin-bottom: 0.5rem; } }
  @media (max-width: 425px) {
    .col-span-12.full-on-mobile {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 425px) {
    .col-span-12.half-on-mobile {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 425px) {
    .col-span-12.quarter-on-mobile {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }
  @media (max-width: 768px) {
    .col-span-12.full-on-tablet {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (max-width: 768px) {
    .col-span-12.half-on-tablet {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; } }
  @media (max-width: 768px) {
    .col-span-12.quarter-on-tablet {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; } }

.list {
  padding: 0; }
  .list .list-item {
    padding: 0.5rem 1rem;
    display: block;
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    font-size: 11px;
    font-weight: 600;
    text-decoration: underline;
    height: 2rem; }
    .list .list-item .concat-text {
      font-size: 11px; }
    .list .list-item.no-underline {
      text-decoration: none; }
    .list .list-item.clickable-item {
      cursor: pointer; }
      .list .list-item.clickable-item:hover, .list .list-item.clickable-item:active {
        background-color: #F8F8F8; }
    .list .list-item:nth-child(1) {
      margin-top: -map-get(("0": 0rem, "1": 0.5rem, "2": 1rem, "3": 1.5rem, "4": 2rem, "5": 2.5rem, "6": 3rem), "1"); }
    .list .list-item:nth-last-child(1) {
      border-bottom: 0; }

.navbar-container {
  background-color: #181734;
  height: 4rem;
  width: 100%; }

.panel {
  border: solid 1px #d1d1d1; }
  .panel .panel-heading {
    min-height: 2.2rem;
    background-color: #F8F8F8;
    color: #787878;
    font-size: 15px;
    padding: 0.5rem 1rem;
    font-weight: 300;
    text-transform: uppercase; }

.tooltip-group {
  position: relative; }

.tooltip {
  position: absolute;
  background-color: #333333;
  min-width: 10rem;
  min-height: 2rem;
  display: none;
  height: auto;
  border-radius: 2;
  padding: 0.5rem;
  -webkit-box-shadow: 0 2px 4px rgba(51, 51, 51, 0.16), 0 2px 4px rgba(51, 51, 51, 0.24);
          box-shadow: 0 2px 4px rgba(51, 51, 51, 0.16), 0 2px 4px rgba(51, 51, 51, 0.24);
  font-size: 10px;
  text-transform: none; }
  .tooltip * {
    color: #F8F8F8; }
  .tooltip.black {
    background-color: #333333; }
    .tooltip.black.top:after {
      border-color: #333333 transparent transparent transparent; }
    .tooltip.black.right:after {
      border-color: transparent #333333 transparent transparent; }
  .tooltip.blue {
    background-color: #00ACF1; }
    .tooltip.blue.top:after {
      border-color: #00ACF1 transparent transparent transparent; }
    .tooltip.blue.right:after {
      border-color: transparent #00ACF1 transparent transparent; }
  .tooltip.visible {
    display: block; }
  .tooltip.top {
    bottom: 1.5rem;
    left: -5rem; }
    .tooltip.top:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      border-width: 5px;
      border-style: solid; }
  .tooltip.right {
    top: 0;
    left: 2rem; }
    .tooltip.right:after {
      content: " ";
      position: absolute;
      top: 0px;
      right: 100%;
      border-width: 9px;
      border-style: solid; }
  .tooltip .tooltip-heading {
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #F8F8F8; }

.container {
  width: 96%;
  margin: 0 auto; }
  .container.xl {
    max-width: 2560px; }
  .container.lg {
    max-width: 1920px; }
  .container.md {
    max-width: 1400px; }
  .container.sm {
    max-width: 1024px; }
  .container.xs {
    max-width: 720px; }

.p-0 {
  padding: 0rem !important; }

.pr-0 {
  padding-right: 0rem !important; }

.pl-0 {
  padding-left: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.mr-0 {
  margin-right: 0rem !important; }

.ml-0 {
  margin-left: 0rem !important; }

.mb-0 {
  margin-bottom: 0rem !important; }

.p-1 {
  padding: 0.5rem !important; }

.pr-1 {
  padding-right: 0.5rem !important; }

.pl-1 {
  padding-left: 0.5rem !important; }

.m-1 {
  margin: 0.5rem !important; }

.mr-1 {
  margin-right: 0.5rem !important; }

.ml-1 {
  margin-left: 0.5rem !important; }

.mb-1 {
  margin-bottom: 0.5rem !important; }

.p-2 {
  padding: 1rem !important; }

.pr-2 {
  padding-right: 1rem !important; }

.pl-2 {
  padding-left: 1rem !important; }

.m-2 {
  margin: 1rem !important; }

.mr-2 {
  margin-right: 1rem !important; }

.ml-2 {
  margin-left: 1rem !important; }

.mb-2 {
  margin-bottom: 1rem !important; }

.p-3 {
  padding: 1.5rem !important; }

.pr-3 {
  padding-right: 1.5rem !important; }

.pl-3 {
  padding-left: 1.5rem !important; }

.m-3 {
  margin: 1.5rem !important; }

.mr-3 {
  margin-right: 1.5rem !important; }

.ml-3 {
  margin-left: 1.5rem !important; }

.mb-3 {
  margin-bottom: 1.5rem !important; }

.p-4 {
  padding: 2rem !important; }

.pr-4 {
  padding-right: 2rem !important; }

.pl-4 {
  padding-left: 2rem !important; }

.m-4 {
  margin: 2rem !important; }

.mr-4 {
  margin-right: 2rem !important; }

.ml-4 {
  margin-left: 2rem !important; }

.mb-4 {
  margin-bottom: 2rem !important; }

.p-5 {
  padding: 2.5rem !important; }

.pr-5 {
  padding-right: 2.5rem !important; }

.pl-5 {
  padding-left: 2.5rem !important; }

.m-5 {
  margin: 2.5rem !important; }

.mr-5 {
  margin-right: 2.5rem !important; }

.ml-5 {
  margin-left: 2.5rem !important; }

.mb-5 {
  margin-bottom: 2.5rem !important; }

.p-6 {
  padding: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pl-6 {
  padding-left: 3rem !important; }

.m-6 {
  margin: 3rem !important; }

.mr-6 {
  margin-right: 3rem !important; }

.ml-6 {
  margin-left: 3rem !important; }

.mb-6 {
  margin-bottom: 3rem !important; }

@media (max-width: 425px) {
  .no-margin-mobile {
    margin: 0 !important; } }

.ba-grey {
  border: 1px solid #EAEAEA; }

.br {
  border-radius: 0.25rem; }

.br-l {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.br-r {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.font-size-headline {
  font-size: 20px; }

.font-size-list {
  font-size: 11px; }

.font-size-md {
  font-size: 15px; }

.font-size-sm {
  font-size: 10px; }

.font-size-xs {
  font-size: 9px; }

.color-brand-white {
  color: #F8F8F8; }

.color-brand-blue {
  color: #00ACF1; }

.color-brand-black {
  color: #333333; }

.color-brand-green {
  color: #06A700; }

.color-brand-yellow {
  color: #EDB600; }

.color-brand-grey {
  color: #EAEAEA; }

.color-primary {
  color: #333333; }

.color-secondary {
  color: #787878; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clickable {
  cursor: pointer; }

.width-100 {
  width: auto; }

.concat-text {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #333333; }

/*# sourceMappingURL=sourcemaps/index.css.map */
